body {
    margin: 0;
}
.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.red {
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: 2;
    transition-duration: 1s;
}
.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
    z-index: 2;
    transition-duration: 1s;
}
.blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    z-index: 2;
    transition-duration: 1s;
}
.green {
    background-color: green;
    width: 100px;
    height: 100px;
    z-index: 2;
    transition-duration: 1s;
}
.main:hover .red {
    transform: rotate(90deg);
    transform-origin: top left;
}

.main:hover .yellow {
    transform: rotate(-90deg);
    transform-origin: top right;
}
.main:hover .blue{
    transform: rotate(-90deg);
    transform-origin: bottom left;
}
.main:hover .green {
    transform: rotate(90deg);
    transform-origin: bottom right;
}
.hi {
    position: absolute;
    z-index: 0;
}
